@model IEnumerable<GEOnet.Models.geoModel>
@{
    ViewData["Title"] = "geoall";

}


<!DOCTYPE html>

<html>
<head>
    <body>
        <h3>Координаты</h3>
        <table>
            <tr>
                <th>Пользователь</th>
                <th>Широта</th>
                <th>Долгота</th>
                <th>Устройство</th>
                <th>Время</th>
                <th>Дата</th>

            </tr>
            @foreach (var geomod in Model)
            {
            <tr>
                <td>@geomod.NameUser</td>
                <td>@geomod.LatitudeX</td>
                <td>@geomod.LongitudeY</td>
                <td>@geomod.geonamedevice</td>
                <td>@geomod.geoTM.</td>
                <td>@geomod.geoDT</td>

            </tr>
            }
        </table>
    </body>
</head>
</html>
