@model IEnumerable<GEOnet.Models.geoModel>
@{
   ViewData["Title"] = "printname";
//ViewData["Title"] = "Home Page";
//Layout = null;
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>

<html>
<head>
    <body>
        <h3>Координаты - printname</h3>
        <table>
            <tr>
                <th>Пользователь</th>
                <th>X</th>
                <th>Y</th>
                <th>Устройство</th>
                <th>Время</th>
                <th>Дата</th>
            </tr>
            @foreach (var geomod in Model)
            {
                <tr>
                    <td>@geomod.nameID</td>
                    <td>@geomod.X</td>
                    <td>@geomod.Y</td>
                    <td>@geomod.geonamedevice</td>
                    <td>@geomod.geoTM</td>
                    <td>@geomod.geoDT</td>

                </tr>
            }
        </table>
    </body>
</head>
</html>