@model IEnumerable<GEOnet.Models.geoModel>
@{
   ViewData["Title"] = "printname";
//ViewData["Title"] = "Home Page";
//Layout = null;
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>

<html>
<head>
    <body>
        <h3>Координаты</h3>
        <table  align="center" border="1">
            <tr align="center">
                <th align="center" width="20%">Пользователь</th>
                <th align="center" width="20%">Устройство</th>
                <th align="center" width="20%">Широта</th>
                <th align="center" width="20%">Долгота</th>
                <th align="center" width="20%">Время</th>
                <th align="center" width="20%">Дата</th>
            </tr>
            @foreach (var geomod in Model)
            {
        <tr align="center">
            <td align="center" width="20%">@geomod.nameID</td>
            <td align="center" width="20%">@geomod.geonamedevice</td>
            <td align="center" width="20%">@geomod.X</td>
            <td align="center" width="20%">@geomod.Y</td>
            <td align="center" width="20%">@geomod.geoTM</td>
            <td align="center" width="20%">@geomod.geoDT</td>

        </tr>
            }
        </table>
    </body>
</head>
</html>